PORT = 5000
NODE_ENV= development
DB_URL=
#jwt
JWT_SECRET_KEY = 
JWT_EXPIRES_IN = 
JWT_REFRESH_SECRET_KEY=
JWT_REFRESH_EXPIRES_IN=

#super admin
SUPER_ADMIN_EMAIL = 
SUPER_ADMIN_PASSWORD = 

#google
GOOGLE_CLIENT_SECRET =
GOOGLE_CLIENT_ID = 
GOOGLE_CALLBACK_URL = 

#express session
EXPRESS_SESSION_SECRET = 

#frontend url
FRONTEND_URL =

#SSlCommerz
SSL_STORE_ID = 
SSL_STORE_PASSWORD = 
SSL_PAYMENT_API = 
SSL_VALIDATION_API = 

# SSL Commerz BACKEND URLs
SSL_SUCCESS_BACKEND_URL=
SSL_FAIL_BACKEND_URL=
SSL_CANCEL_BACKEND_URL=

# SSL Commerz FRONTEND URLs
SSL_SUCCESS_FRONTEND_URL=
SSL_FAIL_FRONTEND_URL=
SSL_CANCEL_FRONTEND_URL=

#CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_SECRET_KEY=

# SMTP 
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

#REDIS DB
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=
 